
.sidebar {
  width: 68px;
  position: fixed;
  top: 56px;
  left: 0px;
  background-color: white;
  padding: 20px 0px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

}

.sidebar-link img {
  width: 24px;
  margin-bottom: 5px;
}

.sidebar-link p {
  font-size: 11px;
}
